/* Homepage  */

.banner {
	background-image: url("assets/site_images/image5.png");
	min-height: 700px;
	background-repeat: no-repeat;
	background-position: center top; 
  background-size: cover; 
  background-attachment: fixed;
}

.banner-text {
	padding-top: 10%;
}

.banner-text h1{
	font-family: 'Barlow Condensed', sans-serif;
	color: #284269;
	font-size: 48px;
	letter-spacing: 0px;
	font-weight: 600;
}

.banner-text a{
	color: #284269;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 80px;
	text-transform: uppercase;
}

.navbar-brand {
	font-family: "Source Sans Pro";
	font-weight: bolder;
	font-size: 20px;
  margin-left: 40px;
  color: #284269;
}

nav .navbar-nav li a{
  color: #284269 !important;
  }

.nav-item{
	padding-left: 15px;
}

.down-arrow{
	padding-top: 100px;
  opacity: 5;
  padding-right: 5px;
}

body{
  font-family: 'Barlow Condensed' , sans-serif;
  font-size: 20px;
  padding-bottom: 80px;
  background-color: #b8dcff;
  height: 100%;
}

.header{
  margin-top: 0;
  font-family: 'Barlow Condensed', sans-serif;
  background: #e6b292;
  color: #284269;
  padding:20px;
  padding-left: 10px;
  padding-top: 0px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* India Gate Caption */
small {
  text-align: right;
	letter-spacing: 0px;
}

.title{
  margin-top: 20px;
  color: #284269; 
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #284269;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

